body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #1e3c72, #0bc2e2);
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px; /* Rounded borders */
  width: 120px;
  height: 120px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.home-button p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.home-button:hover {
  transform: scale(1.1);
}

.home-button svg {
  color: #0681b3;
}
